
  <div class=".col-xs-12 .col-sm-6 .col-md-8">
    <div class="row">
     <div class ="errors">
     
      <%= form_for @seller, html: {role: "form"} do |f| %>
        <% if @seller.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@seller.errors.count, "error") %> prohibited this product from being saved:</h2>

            <ul>
            <% @seller.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="actions">
          <div class="form-group">
        	<h3><%= f.label :seller_username %></h3>
        	<%= f.text_field :seller_username, id:"seller_username", class: 'form-control' %>
          <%= @seller.errors[:seller_username].join(", ") %>
          </div>

          <div class="form-group">
        	<h3><%= f.label :email %></h3>
        	<%= f.text_field :email, id:"email", class: 'form-control' %>
          <%= @seller.errors[:email].join(", ") %>
          </div>

          <div class="form-group">
        	<h3><%= f.label :password %></h3>
        	<%= f.password_field :password, id:"password", rows: 2, class: 'form-control', rows: 2 %>
          <%= @seller.errors[:password].join(", ") %>
          </div>
          
          <div class="form-group">
        	<h3><%= f.label :password_confirmation %></h3>
        	<%= f.password_field :password_confirmation, id:"password_confirmation", rows: 2, class: 'form-control' %>
          <%= @seller.errors[:password_confirmation].join(", ") %>
          </div>

          <div>
        	<%= f.submit :save, class: 'btn btn-default font' %>
          </div>
      </div>
      <% end %>

      </div>
    </div>
</div>

