<h1>Listing sellers</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="2">Seller Name</th>
      <th>Seller Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sellers.each do |seller| %>

      <tr>
        <td colspan="2"><%= seller.seller_username %></td>
        <!-- <td></td><td></td><td></td><td></td><td></td> -->
        <td><%= seller.email %></td>
        <!-- <td></td><td></td><td></td><td></td><td></td> -->
        <td><%= link_to 'Show', seller %></td>
        <td><%= link_to 'Edit', edit_seller_path(seller) %></td>
        <td><%= link_to 'Destroy', seller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New seller', new_seller_path, class: 'btn btn-default' %>
