<div class="form_container">

	<p id="notice"><%= notice %></p>

	<%= render 'breadcrumbs' %>

	<div class=".col-xs-12 .col-sm-6 .col-md-8">
	  <div class="row">

		<h1>Welcome <%= @seller.seller_username %>!</h1>

		<h4 class="font">Please check your seller info to ensure everything looks good!</h4>

		<h2>Name:</h2>
		<h3><%= @seller.seller_username %></h3>

		<h2>Email:</h2>
		<h3><%= @seller.email %></h3>
		</br></br></br>

		<%= link_to 'Edit', edit_seller_path(@seller), class: 'btn btn-default' %> |
		<%= link_to 'Create a Store', new_store_path, class: 'btn btn-default' %>
	
		</br></br></br><p>seller id:<%= @seller.id%></p>
		
		</div>
	</div>
</div>


