
<div class=".col-xs-12 .col-sm-6 .col-md-8">
  <div class="row">
    <div class ="errors">

      <%= form_for @store, html: {role: "form"} do |f| %>
        <% if @store.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@store.errors.count, "error") %> prohibited this product from being saved:</h2>

            <ul>
            <% @store.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

    <div class="actions">

      <div class="form-group">
      <h3>Cause</h3>
      <%=collection_select(:store, :cause_id, Cause.all, :id, :cause_name, prompt: 'Please select a cause') %>
      </div>

      <div class="form-group">
    	<h3><%= f.label :store_name %></h3>
    	<%= f.text_field :store_name, id:"store_name", class: 'form-control' %>
      <%= @store.errors[:store_username].join(", ") %>
      </div>

      <div class="form-group">
    	<h3><%= f.label :store_description %></h3>
    	<%= f.text_area :store_description, rows: 8, id:"store_description", class: 'form-control'  %>
      <%= @store.errors[:store_description].join(", ") %>
      </div>

      <div class="form-group">
    	<h3><%= f.label :store_image %></h3>
    	<%= f.text_field :store_image, id:"store_image", class: 'form-control' %>
      <%= @store.errors[:store_image].join(", ") %>
      </div>

      <div>
    	<%= f.submit :save, class: 'btn btn-default' %>
      </div>

    </div>
    <% end %>

     </div>
   </div>
</div>

