<h1>Create a New Store!</h1>

<%= form_for Store.new do |f| %>

	<%= f.label :store_name %>
	<%= f.text_field :store_name, id:"store_name" %>

	<%= f.label :store_description %>
	<%= f.text_field :store_description, id:"store_description" %>

	<%= f.label :store_image %>
	<%= f.text_field :store_image, id:"store_image" %>

	<!-- how to populate cause dropdown -->
	<%=collection_select(:store, :cause_id, Cause.all, :id, :cause_name, prompt: 'Please select a cause') %>

	<%= f.submit :save %>

<% end %>