<p id="notice"><%= notice %></p>

<h1>Welcome Store!</h1>

<%= @store.store_name %></br>
<%= @store.store_description %></br>
<%# @store.cause_name %></br>

<%= link_to 'Edit', edit_store_path(@store) %> 

<!-- this link redirects to /stores/:store_id/products/new -->
<%= link_to 'Create a product', new_store_product_path(@store.id) %>

