<div class="row">
  <div class="col-sm-6">
    <div class ="errors">
     
      <%= form_for @customer, html: {role: "form"} do |f| %>
        <% if @customer.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this product from being saved:</h2>

            <ul>
            <% @customer.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="actions">
          <div class="form-group">
        	<%= f.label :customer_username %></br>
        	<%= f.text_field :customer_username, id:"customer_username", class: 'form-control' %>
          <%= @customer.errors[:customer_username].join(", ") %>
          </div>

          <div class="form-group">
        	<%= f.label :customer_email %></br>
        	<%= f.text_field :customer_email, id:"customer_email", class: 'form-control' %>
          <%= @customer.errors[:customer_email].join(", ") %>
          </div>

          <div class="form-group">
        	<%= f.label :customer_password %></br>
        	<%= f.password_field :customer_password, id:"customer_password", class: 'form-control' %>
          <%= @customer.errors[:customer_password].join(", ") %>
          </div>
          
          <div class="form-group">
        	<%= f.label :password_confirmation %></br>
        	<%= f.password_field :password_confirmation, id:"password_confirmation", class: 'form-control' %>
          <%= @customer.errors[:password_confirmation].join(", ") %>
          </div>

          <div>
        	<%= f.submit :save, class: 'btn btn-default' %>
          </div>
      </div>
      <% end %>

      </div>
    </div>
</div>

