
<h2>Your Shopping Cart</h1>
<table>
	<% @order.line_items.each do |item| %>
	<tr>
		<td><%= item.product_quantity_ordered %> &times; <%= item.product.product_name %></td>
		<!-- <li><%# item.product.product_name %></li> -->
		<td><%= item.product.product_description %></td>
		<td><span class="price">@<%= number_to_currency(item.product.product_price) %> (each) = </span></td>

		<!-- This should be working -->
		<!-- <td><span class="total_price"><%# number_to_currency(item.total_price) %></span></td> -->
		</br>
	</tr>
	
</table>
<% end %>
</br>
<!-- This should be working -->
Your Order Total = <%# number_to_currency(@order.total_price) %>
</br>
</br>
</br>
<%= button_to 'Checkout', new_finalizedorder_path, method: :get %>
</br>
<%= button_to 'Empty Cart', @orders, method: :delete, data: {confirm: 'Are you sure?'} %>
</br>
</br>
<%= link_to 'Back', customer_orders_path %>

<!-- <h1>Order Show</h1> -->

<%# if notice %>
<!-- <p id="notice"><%# notice %></p> -->
<%# end %>

<!-- <p>
  <strong>Order Number</strong>
  <%# @order.order_number %>
</p> -->

<!-- <p>
  <strong>Order Date</strong>
  <%# @order.ordered_date %>
</p> -->


