<!-- <h1>Product Show Page</h1> -->

<p id="notice"><%= notice %></p>

<div class="product_container">
	<!-- LEFT COLUMN -->
	<div class="col-xs-12 col-md-8">
		<!-- PRODUCT IMAGE -->
	    <div class="product_show_img">
	    	<!-- <div class="prod_show_border"> -->
		    	<!-- <h2 class="font">Product Image</h2> -->
		    		<%= image_tag @product.picture.url(:show) %>
		    		<%# image_tag @image.url %>
		    		<%# @product.images.each do |i| %>
			    	<%# image_tag i.url %>
			    	<%#end%>
		    <!-- </div> -->
		</div>

		<!-- PRODUCT THUMBNAILS -->
		<div class="product_thumbnails">
				<div class="prod_thumb">
		    		<div class="prod_border">
		    			<p class="font">product image</p>
		    		</div>
		    	</div>
		    	<div class="prod_thumb">
		    		<div class="prod_border">
		    		<p class="font">product image</p>
		    		</div>
		    	</div>
		    	<div class="prod_thumb">
		    		<div class="prod_border">
		    		<p class="font">product image</p>
		    		</div>
		    	</div>
		    	<div class="prod_thumb">
		    		<div class="prod_border">
		    		<p class="font">product image</p>
		    		</div>
		    	</div>
		</div>

		<!-- PRODUCT INFO -->
		<div class="product_info">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs font">
			  <li><a href="#home" data-toggle="tab">Product Info</a></li>
			  <li><a href="#profile" data-toggle="tab">Shipping Info</a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content font">
			  <div class="tab-pane active" id="home">
				  	<h2 class="font"><%= @product.product_name %></h2></br>
					<h3 class="font"><%= @product.product_description %></h3></br>
					<h3 class="price font"><%= number_to_currency(@product.product_price) %></h3></br>
	 		  </div>
			  
			  <div class="tab-pane" id="profile">
			  		<h2 class="font">This is where shipping info goes</h2>
			  </div>
			</div>
		</div>
	</div>

	<!-- RIGHT COLUMN -->
	<div class="col-xs-6 col-md-4">
		<!-- SHOPPING CART -->
		<div class="cart">
			<h2 class="font">Shopping Cart</h2>
				<div class="cart_border">
				<!-- <button type="button" class="btn btn-default btn-lg btn-block myBtn"> -->
				<%= button_to 'Add to Cart', line_items_path(product_id: @product), id: "cart_btn", class: "btn btn-default myBtn font" %>
				<!-- </button> -->
				</div>
		</div>

		<!-- CATEGORY/CAUSE BUTTON -->
		<div class="category_info">
			<h4 class="font">Cause</h4>
			<button type="button" class="btn btn-default myBtn_sm"><%= link_to @store.cause.cause_name, @store.cause, class: "font" %>
			</button>

			<h4 class="font">Category</h4>
			<button type="button" class="btn btn-default myBtn_sm"><%= link_to @product.category.category_name, @product.category, class: "font" %>
			</button>
		</div>

		<!-- STORE INFO -->
		<div class="store_info">
			<h1 class="font"><%= @store.store_name %></h1>
				<div class="store_border">
					<h2 class="font">Store Info</h2>
					<h3 class="font"><%= @store.store_description %></h3>
				</div>
		</div>

		<!-- ADDITIONAL STORE PRODUCTS -->
		<div class="store_prods">
			<h2 class="font">More Store Products</h2>
				<% @store.products.each do |p| %>
				<div class="store_prod_border">
					<div class="prod_thumb r">
			    		<div class="prod_border">
			    			<p class="font"><%= p.product_name %></p></br>
			    		</div>
		    		</div>
		    	 <% end %>
	    		</div>
		</div>
	</div>
</div>
</div>
</div>


<%# link_to 'Edit', edit_store_product_path %> 
<%# link_to 'Back', store_products_path %>

