<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">make.ly</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="nav_icon"><a href="/sellers/new"><i class="glyphicon glyphicon-home" rel="tooltip" data-toggle="tooltip" title="Create a Store" ></i></a></li>
      <li class="nav_icon"><a href="/customers/new"><i class="glyphicon glyphicon-user" rel="tooltip" data-toggle="tooltip" title="New User Signup" ></i></a></li>
    </ul>
    
    <ul id="top-nav" class="nav navbar-nav navbar-right form-inline">
      
      <% if current_customer_user %>  
          <li><a href="/"><i class="glyphicon glyphicon-shopping-cart" rel="tooltip" data-toggle="tooltip" title="Shopping Cart" ></i></a></li>
          <li id="current_user" class="lowercase_font"><%= current_customer_user.customer_email %></li>
          <li><%= link_to "logout", "/authentications/_", method: "delete", id: "logout_btn", class: "btn btn-default btn-xs" %></li>          
      <% else %>
          <li><%= render "authentications/customer_login" %></li>
      <% end %>  
     
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"><b class="caret"></b></span></a>
        <ul class="dropdown-menu">
          <li><a href="/seller_authentications/new">Seller Login</a></li>
          <% if current_user %>
          <li><a href="/sellers/<%=current_user.id %>/edit">Edit Seller Info</a></li>
          <li><%= link_to "Store Info", my_store_path %></li>
          <li><%= link_to "Store Products", products_sellers_index_path(current_user.store_id) %></li>
          <li class="divider"></li>
          <li><%= link_to "Seller Logout", "/seller_authentications/:id", method: "delete" %></li>
          
        </ul>
        <% end %>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<script>
  $(document).ready(function() {  
    $('.navbar-brand').hover(
    function() {
        var $this = $(this); // caching $(this)
        $this.data('make.ly', $this.text());
        $this.text("made with love");
    },
    function() {
        var $this = $(this); // caching $(this)
        $this.text($this.data('make.ly'));
    }
);
    $("[rel=tooltip]").tooltip({ placement: 'bottom'});

  });
</script>
