<!DOCTYPE html>
<html>
<head>
  <title>Makely</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

 <%= render 'layouts/new_header' %>
 <%= render 'static_pages/home' %>

<div class="container">
	<% flash.each do |name, msg| %>
	      <%= content_tag :div, msg, class: name %>
	    <% end %>
      
<%= yield %>

   <br/>
    Customer id: <%= current_customer_user.id if current_customer_user %>
    <br/>
    Customer Email: <%= current_customer_user.customer_email if current_customer_user%>
    <br/>
	 <br/>
    Seller id: <%= current_user.id if current_user %>
    <br/>
    Seller Email: <%= current_user.email if current_user %>
    <br/>


</div>

  </body>
</html>
